body {
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 0;
}

.home-page {
  width: 375px;
  background-color: #fff;
  padding: 10px;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#logo {
  width: 90px;
  height: 28px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #28352f;
}

.menu {
  width: 18px;
  height: 12px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./Images/header-illsutration-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
}

h1 {
  width: 327px;
  height: 192px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

span {
  color: #36b37e;
}

.about-me {
  width: 327px;
  height: 164px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #172b4d;
  margin-top: 58px;
}

.socials {
  width: 170px;
  margin-top: 58px;
}

.disable {
  margin-top: 58px;
}

ul {
  display: flex;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  width: 210px;
  height: 97px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
}

.cards {
  margin-top: 50px;
  width: 331px;
  height: 2972px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  padding: 4px 2px;
  gap: 24px;
}

.card1 {
  width: 327px;
  height: 474px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.card1 img {
  width: 327px;
  height: 250px;
  background-color: #ebf0ee;
}

h3 {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #3a4a42;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 305px;
  height: 32px;
}

.ruby {
  width: 103px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 8px;
  background: #ebf0ee;
  border: 0.1px solid #ebf0ee;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.css {
  width: 45px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  background: #ebf0ee;
  border: 0.1px solid #ebf0ee;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.java {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 82px;
  height: 32px;
  background: #ebf0ee;
  border: 0.1px solid #ebf0ee;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  width: 51px;
  height: 32px;
  background: #ebf0ee;
  border: 0.1px solid #ebf0ee;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #3a4a42;
}

.submition {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 122px;
  height: 48px;
  background: #36b37f;
  border: 0.1px solid #36b37f;
  border-radius: 4px;
  margin: auto;
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about {
  width: 375px;
  height: 1625px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.description {
  width: 351px;
  height: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 68px;
}

h4 {
  width: 200px;
  height: 38px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #172b4d;
  margin: 0;
}

.description p {
  width: 351px;
  height: 189px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.description button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 159px;
  height: 48px;
  background: #36b37f;
  border: 0.1px solid #36b37f;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

#illus {
  position: absolute;
  top: 814%;
}

#illus2 {
  position: absolute;
  left: 80%;
  top: 810%;
}

.languages {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.lang {
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #c1c7d0;
  border-radius: 8px;
}

#lang-icon {
  width: 80px;
  height: 80px;
  margin-top: 40px;
}

h5 {
  width: 337px;
  height: 32px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
}

.lang ul {
  display: grid;
  grid-row: 1/4;
}

.lang li {
  display: grid;
  grid-row: 1/5;
}

#jav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 89px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#rub {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 55px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#htm {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 53px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 50px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#bot {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 84px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#ror {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 108px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#rsp {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 63px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#cap {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 83px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#sel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 81px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

.sec-list {
  margin-top: -15px;
}

#cod {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 72px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#git {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 67px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#pen {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 79px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#lab {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}

#ter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 77px;
  height: 40px;
  background: #fff;
  border-radius: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #36b37e;
  border: 0.1px solid #fff;
}
